@import url("general.css");

#contPrincipal{
  text-align: center;
}

button{
    border: none;
    color: white;
    background-color: #35858B;
    padding: 10px;
    font-size: 1.05em;
    margin: 10px auto;
    width: 150px;
    border-radius: 7px;
}

button:hover{
    background-color: #257578;
}

input{
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.05em;
    border-radius: 7px;
    border: 2px solid #e0e0e0;
}